/* Reset de Estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* font-family: "Oswald", sans-serif; */
  font-family: "Roboto", sans-serif;
  background-color: #E5DCD3;
  color: #333;
}

/* Estilo do Header */

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color:#A62F03;
  color: white;
}

.logo-header {
  border-radius: 10px;
  border: solid #A62F03;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: white;
}

/* Estilo do Main */
.container {
  background-color: #E5DCD3;
  /* background-image: url(../img/img-amassada); */
  max-width: 11000px;
  margin: 0 auto;
  padding: 20px;
}

.texto-principal {
  /* background-color: rgb(210, 226, 226); */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  text-align: center;
  margin: 30px;
}

/* .texto {
    background-color: #9090b7   ;
} */

.texto h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.texto h3 {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 20px;
}

.signup-link {
  display: inline-block;
  background-color:#A68660;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  margin: 10px 0;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s;
}

.signup-link:hover {
  background-color: #A62F03;
}

/* Estilo do Footer */
/* .footer {
  text-align: center;
  margin: ;
  padding: 20px;
  background-color: #A62F03;
  box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.1);
} */

.footer {
  position: absolute;
  padding-top: 15px;
  bottom: 0;
  width: 100%;
  height: 50px; 
  background-color: #A62F03;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer-links a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s;
}

/* .footer-links a:hover {
  color: #007bff;
} */
